.button_custom: pressed {
    -fx-padding: 6 11 9 11;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.button_custom .text {
    -fx-fill: white;
    -fx-font: 16px Tacoma;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

.button_villager {
    -fx-padding: 4 11 11 11;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #68d112, #77e021);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 80%;
}

.button_enemy {
    -fx-padding: 4 11 11 11;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
          linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #e27628, #c96016);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 80%;
}

.button_dead {
    -fx-padding: 4 11 11 11;
        -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
        -fx-background-radius: 8;
        -fx-background-color:
              linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
                #9d4024,
                #d86e3a,
                radial-gradient(center 50% 50%, radius 100%, #ef351c, #d1250e);
        -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
        -fx-font-weight: bold;
        -fx-font-size: 80%;
}

.button_undiscovered {
    -fx-padding: 4 11 11 11;
            -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
            -fx-background-radius: 8;
            -fx-background-color:
                  linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
                    #9d4024,
                    #d86e3a,
                    radial-gradient(center 50% 50%, radius 100%, #89817d, #89817d);
            -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
            -fx-font-weight: bold;
            -fx-font-size: 80%;
}

.button_special {
    -fx-padding: 4 11 11 11;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
                -fx-background-color:
                      linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
                        #9d4024,
                        #d86e3a,
                        radial-gradient(center 50% 50%, radius 100%, #0d67c6, #0d67c6);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 80%;
}



